 body {
    background-color: rgb(80%, 100%, 100%;
}

h1 {
  color: rgb(100%, 0%, 0%);
}
.link-to-code{
color:yellow;
}
#HES_heading{
    color:yellow;
    background-color:blue;
    text-align:center;
}
.pure_paragraphs{
text-align:center;


}
